In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#import packages
import pandas as pd

#read the file
df = pd.read_csv('currency.csv', header=1)

indian_key = 'EXR.D.INR.EUR.SP00.A'
sterling = 'EXR.D.GBP.EUR.SP00.A'
us_dollar = 'EXR.D.USD.EUR.SP00.A'
canadian = 'EXR.D.CAD.EUR.SP00.A'
curr_key = [indian_key, sterling, us_dollar, canadian]
df.drop([0, 1, 2, 3, 4, 5], axis=0, inplace=True)
#print the head
df.head(10)

/home/jojo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,85,92,104,111,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,EXR.A.AUD.EUR.SP00.A,EXR.A.AUD.EUR.SP00.E,EXR.A.BGN.EUR.SP00.A,EXR.A.BGN.EUR.SP00.E,EXR.A.BRL.EUR.SP00.A,EXR.A.BRL.EUR.SP00.E,EXR.A.CAD.EUR.SP00.A,EXR.A.CAD.EUR.SP00.E,EXR.A.CHF.EUR.SP00.A,...,EXR.Q.SIT.EUR.SP00.A,EXR.Q.SKK.EUR.SP00.A,EXR.Q.THB.EUR.SP00.A,EXR.Q.THB.EUR.SP00.E,EXR.Q.TRY.EUR.SP00.A,EXR.Q.TRY.EUR.SP00.E,EXR.Q.USD.EUR.SP00.A,EXR.Q.USD.EUR.SP00.E,EXR.Q.ZAR.EUR.SP00.A,EXR.Q.ZAR.EUR.SP00.E
6,2019-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2019-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2019-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2019-07-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2019-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2019-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2019-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2019-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2019-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5577 entries, 6 to 5582
Columns: 300 entries, Unnamed: 0 to EXR.Q.ZAR.EUR.SP00.E
dtypes: object(300)
memory usage: 12.8+ MB

In [6]:
names = df.columns
date_name = 'Unnamed: 0'
curr = []
for name in names:
    if 'EXR.D' not in name and name != date_name:
        df.drop(name, axis=1, inplace=True)
    else:
        curr.append(name)
df.columns = ['date'] + curr[1:]
df.head()

,date,EXR.D.AUD.EUR.SP00.A,EXR.D.BGN.EUR.SP00.A,EXR.D.BRL.EUR.SP00.A,EXR.D.CAD.EUR.SP00.A,EXR.D.CHF.EUR.SP00.A,EXR.D.CNY.EUR.SP00.A,EXR.D.CYP.EUR.SP00.A,EXR.D.CZK.EUR.SP00.A,EXR.D.DKK.EUR.SP00.A,...,EXR.D.RON.EUR.SP00.A,EXR.D.RUB.EUR.SP00.A,EXR.D.SEK.EUR.SP00.A,EXR.D.SGD.EUR.SP00.A,EXR.D.SIT.EUR.SP00.A,EXR.D.SKK.EUR.SP00.A,EXR.D.THB.EUR.SP00.A,EXR.D.TRY.EUR.SP00.A,EXR.D.USD.EUR.SP00.A,EXR.D.ZAR.EUR.SP00.A
6,2019-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2019-07-31,1.6175,1.9558,4.2180,1.4662,1.1041,7.6743,NaN,25.658,7.4674,...,4.7338,70.8041,10.6645,1.5261,NaN,NaN,34.2730,6.1610,1.1151,15.8634
8,2019-07-30,1.6189,1.9558,4.2237,1.4691,1.1038,7.6761,NaN,25.650,7.4666,...,4.7321,70.5654,10.6453,1.5283,NaN,NaN,34.3600,6.2005,1.1154,15.7801
9,2019-07-29,1.6110,1.9558,4.2104,1.4645,1.1037,7.6648,NaN,25.613,7.4668,...,4.7287,70.6300,10.5773,1.5250,NaN,NaN,34.3080,6.2560,1.1119,15.8158
10,2019-07-26,1.6082,1.9558,4.2053,1.4680,1.1053,7.6609,NaN,25.542,7.4663,...,4.7263,70.3184,10.5585,1.5242,NaN,NaN,34.4110,6.2613,1.1138,15.7656

In [7]:
df.to_csv('inr.csv')